.bars
{
  border: 1px solid;
  box-shadow: 12px 12px 30px rgba(0,0,0,0.2);
  text-align: center;
  width: 40%;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  margin-bottom: 100px;
}

.color
{
  text-align: center;
  width: 200px;
  height: 200px;
}
